<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.p6e.germ.oauth2.infrastructure.repository.mapper.P6eOauth2LogMapper">

    <select id="count" parameterType="com.p6e.germ.oauth2.model.db.P6eOauth2LogDb" resultType="long">
        SELECT
           COUNT(`id`)
        FROM
            `p6e_oauth2_log`
        <trim prefix="WHERE" prefixOverrides="AND |OR">
            <if test="id != null">AND `id` = #{id}</if>
            <if test="uid != null">AND `uid` = #{uid}</if>
            <if test="cid != null">AND `cid` = #{cid}</if>
        </trim>;
    </select>


    <select id="queryById" parameterType="com.p6e.germ.oauth2.model.db.P6eOauth2LogDb"
            resultType="com.p6e.germ.oauth2.model.db.P6eOauth2LogDb">
        SELECT
            `id`,
            `uid`,
            `cid`,
            `type`,
            `date`
        FROM
            `p6e_oauth2_log`
        WHERE `id` = #{id} LIMIT 0, 1;
    </select>


    <select id="queryAll" parameterType="com.p6e.germ.oauth2.model.db.P6eOauth2LogDb"
            resultType="com.p6e.germ.oauth2.model.db.P6eOauth2LogDb">
        SELECT
            `id`,
            `uid`,
            `cid`,
            `type`,
            `date`
        FROM
            `p6e_oauth2_log`
        <trim prefix="WHERE" prefixOverrides="AND |OR">
            <if test="id != null">AND `id` = #{id}</if>
            <if test="uid != null">AND `uid` = #{uid}</if>
            <if test="cid != null">AND `cid` = #{cid}</if>
        </trim>
        LIMIT #{start}, #{end};
    </select>

    <insert id="create" parameterType="com.p6e.germ.oauth2.model.db.P6eOauth2LogDb"
            keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO `p6e_oauth2_log` (`uid`, `cid`, `type`) VALUE (#{uid}, #{cid}, #{type});
    </insert>
</mapper>