<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.p6e.germ.oauth2.infrastructure.repository.mapper.P6eOauth2UserMapper">

    <select id="count" parameterType="com.p6e.germ.oauth2.model.db.P6eOauth2UserDb" resultType="long">
        SELECT
            COUNT(`id`)
        FROM
            `p6e_oauth2_user`;
    </select>

    <select id="queryById" parameterType="int" resultType="com.p6e.germ.oauth2.model.db.P6eOauth2UserDb">
        SELECT
            `id`, `email`, `phone`, `password`, `qq`, `wechat`
        FROM
            `p6e_oauth2_user`
        WHERE
            `id` = #{id};
    </select>

    <select id="queryByAccount" parameterType="String" resultType="com.p6e.germ.oauth2.model.db.P6eOauth2UserDb">
        SELECT
            `id`, `email`, `phone`, `password`, `qq`, `wechat`
        FROM
            `p6e_oauth2_user`
        WHERE
            `email` = #{account}
            OR `phone` = #{account};
    </select>

    <select id="queryByQq" parameterType="String" resultType="com.p6e.germ.oauth2.model.db.P6eOauth2UserDb">
        SELECT
            `id`, `email`, `phone`, `password`, `qq`, `wechat`
        FROM
            `p6e_oauth2_user`
        WHERE
            `qq` = #{qq};
    </select>

    <select id="queryAll" parameterType="com.p6e.germ.oauth2.model.db.P6eOauth2UserDb">
        SELECT
            `id`, `email`, `phone`, `password`, `qq`, `wechat`
        FROM
            `p6e_oauth2_user`
        LIMIT #{page}, #{size};
    </select>

    <insert id="create" parameterType="com.p6e.germ.oauth2.model.db.P6eOauth2UserDb"
            useGeneratedKeys="true" keyProperty="id" keyColumn="id">
         INSERT INTO  `p6e_oauth2_user`
         (
            `password`
            <if test="qq != null">, `qq`</if>
            <if test="email != null">, `email`</if>
            <if test="phone != null">, `phone`</if>
            <if test="weChat != null">, `wechat`</if>
        )
        VALUE
        (
            #{password}
            <if test="qq != null">, #{qq}</if>
            <if test="email != null">, #{email}</if>
            <if test="phone != null">, #{phone}</if>
            <if test="weChat != null">, #{weChat}</if>
        );
    </insert>

    <update id="update" parameterType="com.p6e.germ.oauth2.model.db.P6eOauth2UserDb">
        UPDATE `p6e_oauth2_user`
        <trim prefix="SET" suffixOverrides=",">
            <if test="email != null">`email` = #{email},</if>
            <if test="phone != null">`phone` = #{phone},</if>
            <if test="password != null">`password` = #{password},</if>
            <if test="qq != null">`qq` = #{qq},</if>
            <if test="weChat != null">`wechat` = #{weChat},</if>
        </trim>
        WHERE `id` = #{id};
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM `p6e_oauth2_user` WHERE `id` = #{id};
    </delete>
</mapper>