<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.p6e.germ.oauth2.infrastructure.mapper.P6eOauth2ClientMapper">

    <select id="count" parameterType="com.p6e.germ.oauth2.model.db.P6eOauth2ClientDb" resultType="int">
        SELECT COUNT(`id`) FROM `p6e_oauth2_client`
        <trim prefix="WHERE" prefixOverrides="AND |OR">
            <if test="status != null">AND `status` = #{status}</if>
            <if test="icon != null">AND `icon` = #{icon}</if>
            <if test="name != null">AND `name` = #{name}</if>
            <if test="scope != null">AND `scope` = #{scope}</if>
            <if test="redirectUri != null">AND `redirect_uri` = #{redirectUri}</if>
            <if test="describe != null">AND `describe` = #{describe}</if>
            <if test="limitingRule != null">AND `limiting_rule` = #{limitingRule}</if>
        </trim>;
    </select>

    <select id="queryById" parameterType="com.p6e.germ.oauth2.model.db.P6eOauth2ClientDb"
            resultType="com.p6e.germ.oauth2.model.db.P6eOauth2ClientDb">
        SELECT
            `id` as `id`,
            `status` as `status`,
            `name` as `name`,
            `key` as `key`,
            `secret` as `secret`,
            `scope` as `scope`,
            `redirect_uri` as `redirectUri`,
            `describe` as `describe`,
            `limiting_rule` as `limitingRule`,
            `icon` as `icon`
        FROM
            `p6e_oauth2_client`
        WHERE `id` = #{id} LIMIT 0, 1;
    </select>

    <select id="queryByKey" parameterType="com.p6e.germ.oauth2.model.db.P6eOauth2ClientDb"
            resultType="com.p6e.germ.oauth2.model.db.P6eOauth2ClientDb">
        SELECT
            `id` as `id`,
            `status` as `status`,
            `name` as `name`,
            `key` as `key`,
            `secret` as `secret`,
            `scope` as `scope`,
            `redirect_uri` as `redirectUri`,
            `describe` as `describe`,
            `limiting_rule` as `limitingRule`,
            `icon` as `icon`
        FROM
            `p6e_oauth2_client`
        WHERE `key` = #{key} LIMIT 0, 1;
    </select>

    <select id="queryAll" parameterType="com.p6e.germ.oauth2.model.db.P6eOauth2ClientDb"
            resultType="com.p6e.germ.oauth2.model.db.P6eOauth2ClientDb">
        SELECT
            `id` as `id`,
            `status` as `status`,
            `name` as `name`,
            `key` as `key`,
            `secret` as `secret`,
            `scope` as `scope`,
            `redirect_uri` as `redirectUri`,
            `describe` as `describe`,
            `limiting_rule` as `limitingRule`,
            `icon` as `icon`
        FROM
            `p6e_oauth2_client`
        <trim prefix="WHERE" prefixOverrides="AND |OR">
            <if test="status != null">AND `status` = #{status}</if>
            <if test="icon != null">AND `icon` = #{icon}</if>
            <if test="name != null">AND `name` = #{name}</if>
            <if test="scope != null">AND `scope` = #{scope}</if>
            <if test="redirectUri != null">AND `redirect_uri` = #{redirectUri}</if>
            <if test="describe != null">AND `describe` = #{describe}</if>
            <if test="limitingRule != null">AND `limiting_rule` = #{limitingRule}</if>
        </trim>
        LIMIT #{start}, #{end};
    </select>

    <insert id="create" parameterType="com.p6e.germ.oauth2.model.db.P6eOauth2ClientDb"
            useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO  `p6e_oauth2_client`
        (`icon`, `status`, `name`, `key`, `secret`, `scope`, `redirect_uri`, `describe`, `limiting_rule`)
        VALUE
        (#{icon}, #{status}, #{name}, #{key}, #{secret}, #{scope}, #{redirectUri}, #{describe}, #{limitingRule});
    </insert>

    <update id="update" parameterType="com.p6e.germ.oauth2.model.db.P6eOauth2ClientDb">
        UPDATE `p6e_oauth2_client`
        <trim prefix="SET" suffixOverrides=",">
            <if test="icon != null">`icon` = #{icon},</if>
            <if test="status != null">`status` = #{status},</if>
            <if test="name != null">`name` = #{name},</if>
            <if test="scope != null">`scope` = #{scope},</if>
            <if test="redirectUri != null">`redirect_uri` = #{redirectUri},</if>
            <if test="describe != null">`describe` = #{describe},</if>
            <if test="limitingRule != null">`limiting_rule` = #{limitingRule},</if>
        </trim>
        WHERE `id` = #{id};
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM `p6e_oauth2_client` WHERE `id` = #{id};
    </delete>

</mapper>