<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.p6e.germ.oauth2.mapper.P6eLogMapper">

    <insert id="create" parameterType="com.p6e.germ.oauth2.model.db.P6eLogDb"
            useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO `p6e_germ_oauth2_log` (`cid`, `uid`, `type`)
        VALUE (#{DB.cid}, #{DB.uid}, #{DB.type});
    </insert>

</mapper>
