<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 加载自己定义的拦截器 -->
    <plugins>
        <plugin interceptor="com.p6e.germ.oauth2.mybatis.MybatisPagingInterceptor"/>
        <plugin interceptor="com.p6e.germ.oauth2.mybatis.MybatisPasswordInterceptor"/>
    </plugins>

</configuration>